// #region COLORS

$primaryLighter5: #c2e2fe;
$primaryLighter4: #b0e1f3;
$primaryLighter3: #6fb5e0;
$primaryLighter2: #2d89cc;
$primaryLighter1: #0c6aae;
$primary: #004475;
$primaryDarker1: #0e325b;

$accent: #ffe200;
$accentDarker1: #dbc413;
$accentDarker2: #e1b827;

$white: white;

$grayLighter1: #e3e5e7;
$gray: #9097a0;

$greenLighter1: #87f075;
$green: #38cf1f;
$red: #cf1f1f;
// #endregion

// #region VARIABLES

$borderRadiusSmaller1: 5px;
$borderRadius: 7px;
// #endregion

// #region MIXINS

@mixin boxShadow($color) {
    box-shadow: 0 4px 0 $color;
}
// #endregion
