@use "shared";

.countdownBar {
    position: absolute;
    height: 0.625rem;
    width: 12rem;
    margin-top: 1.5rem;

    border-radius: 0.15rem;
    overflow: hidden;
    background-color: shared.$primaryLighter1;

    @media only screen and (max-width: shared.$mobileBreakpoint) {
        position: fixed;
        top: 0;
        margin-top: 0;
        background-color: shared.$primaryLighter2;
    }

    &__fill {
        @include shared.progressBarFill;

        animation: deplete var(--timeRemainingMs, 5000ms) linear both,
            progressBarFillAnim 1.5s linear infinite;

        @keyframes deplete {
            from {
                width: 100%;
            }
            to {
                width: 0%;
            }
        }
    }
}
