@use "fonts";
@use "shared";

:root {
    --timeRemainingPercentage: /* set programmatically */ ;
    --timeRemainingMs: /* set programmatically */ ;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    // TODO: remove after creating UI
    // outline: 1px solid rgba(255, 0, 0, 1);
}

// TODO: remove after recreating UI
// html:before {
//     content: "";
//     // background: url("/images/quiz-active_answers.png");
//     background: url("/images/quiz-countdown_before_start.png");
//     background-repeat: no-repeat;
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     z-index: -1;
//     opacity: 0.75;
// }

html {
    min-height: 100%; // fill viewport height
    display: flex; // make children (= body) fill viewport height
}

body {
    flex: 1; // fill viewport width
    display: flex; // make children (=Home) fill viewport height

    // desktop
    @media only screen and (min-width: calc(shared.$mobileBreakpoint + 1px)) {
        justify-content: center;
        align-items: center;
        // also reduces height and width of children to minimum
    }

    font-family: "FlandersArtSans", sans-serif;
    background-color: shared.$primary;

    // mobile
    @media only screen and (max-width: shared.$mobileBreakpoint) {
        background-color: shared.$primaryLighter1;

        // don't allow body to scroll when menu is open
        // menuActive is set on MenuButton
        &:has(.menuActive) {
            overflow: hidden;
        }
    }
}

h1 {
    font-size: 1.5rem;
}

button {
    font-family: "FlandersArtSans", sans-serif;
    font-weight: bold;
    font-size: 1rem;

    transition: color 0.1s, background-color 0.1s, border 0.1s;
    user-select: none;
}
