@use "shared";

.options {
    width: 100%;
    margin-bottom: 2rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    row-gap: min(2vw, 2rem);
    column-gap: min(3vw, 3rem);

    &__hidden {
        .optionButton {
            text-shadow: 0 0 0.35rem #004475ac, 0rem 0 0.35rem #004475ac;
            color: transparent;
            transition: none;
        }
    }

    @media only screen and (max-width: shared.$mobileBreakpoint) {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

.optionButton {
    padding: 0.65rem;

    background-color: shared.$primaryLighter5;
    border: 5px solid transparent;

    font-size: 1.25rem;

    transition-property: text-shadow;
    transition-duration: 0.5s;

    @media only screen and (max-width: shared.$mobileBreakpoint) {
        padding: 0.5rem;
        font-size: 1rem;
    }

    @media (hover: hover) {
        &:hover:enabled:not(.selected) {
            background-color: shared.$primaryLighter3;
        }
    }

    &.selected {
        border-color: shared.$accent;
        background-color: shared.$primaryLighter2;
        color: shared.$white;

        &.correctlySelected {
            border-color: shared.$green;
        }
        &.incorrectlySelected {
            border-color: shared.$red;
        }
    }
    &.incorrectlyUnselected {
        border-color: shared.$red;
        background-color: shared.$greenLighter1;
    }
}
