@use "shared";

.container {
    flex: 1;
    padding: 1rem;

    background-color: shared.$primaryLighter1;
    border-radius: 1rem;

    display: flex;
}

.avatarContainer {
    display: none;

    @media only screen and (max-width: shared.$mobileBreakpoint) {
        display: inline-block;

        position: fixed;
        height: 75px;
        width: 75px;

        left: -5rem;
        top: -0.5rem;

        transition: all 0.3s 0s;

        &.active {
            transition: all 0.3s 0.2s;
            left: -0.5rem;
            top: -0.5rem;
        }
    }
}

.innerContainer {
    flex: 1;
    padding: 0.5rem 3.75vw 1.5rem;

    border-radius: 0.5rem;
    background-color: shared.$primaryDarker1;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.timerContainer {
    position: relative;
    width: 100%;
    height: 2.75rem;
    @media only screen and (max-width: shared.$mobileBreakpoint) {
        height: 1.5rem;
    }
    margin-bottom: 1.5rem;

    display: flex;
    justify-content: center;
}

.buttonsContainer {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.bigButton {
    height: 52px;
    width: 62.5%;

    &__white {
        background-color: shared.$white;
        @include shared.boxShadow(shared.$grayLighter1);

        @media (hover: hover) {
            &:hover:enabled {
                background-color: shared.$primaryLighter5;
                @include shared.boxShadow(shared.$primaryLighter3);
            }
        }
    }

    &__yellow {
        background-color: shared.$accent;
        @include shared.boxShadow(shared.$accentDarker1);

        @media (hover: hover) {
            &:hover:enabled {
                background-color: #ffeb4e;
            }
        }
    }

    &:disabled {
        background-color: shared.$grayLighter1;
        @include shared.boxShadow(shared.$gray);
    }
}
