.container {
    flex: 1;
    padding: 0.5rem 2.75rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1rem solid black;
    border-radius: 1.25rem;
}

.timer {
    width: 115px;
    padding: 0.75rem 0 0.75rem 1rem;
    margin-bottom: 1rem;

    display: flex;
    gap: 0.5rem;

    svg {
        height: 20px;
    }
}

.question {
    margin-bottom: 1.5rem;
    text-align: center;
}

.options {
    width: 100%;
    margin-bottom: 1.5rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    row-gap: 1rem;
    column-gap: 2rem;
}

.optionButton {
    height: 4rem;
    background-color: white;
    border: 2px solid black;
}

.bigButton {
    height: 52px;
    width: 62.5%;

    color: #004475;
    background-color: #ffe10078;
    border: none;
}

.bigButton + .bigButton {
    margin-top: 0.75rem;
}
