@use "shared";

.container {
    flex: 1;
    padding: 1rem;

    background-color: shared.$primaryLighter1;
    border-radius: 1rem;

    display: flex;
}

.innerContainer {
    flex: 1;
    padding: 0.5rem 2.75rem;

    border-radius: 0.5rem;
    background-color: shared.$primaryDarker1;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.timerContainer {
    width: 100%;
    height: 2.75rem;
    margin-bottom: 1.5rem;

    display: flex;
    justify-content: center;
}

.stopwatch {
    width: 7rem;
    height: 100%;
    padding-left: 1.125rem;

    background-color: shared.$white;
    border-radius: 3rem;
    @include shared.boxShadow(shared.$primary);

    color: shared.$primary;
    font-weight: bold;
    font-size: 1.25rem;

    display: flex;
    align-items: center;
    gap: 0.75rem;

    svg {
        height: 17px;
        fill: currentColor;
    }
}

.countdownBar {
    height: 0.625rem;
    width: 30%;
    margin-top: 1.5rem;

    border-radius: 0.15rem;
    overflow: hidden;
    background-color: shared.$primaryLighter1;

    &__fill {
        height: 100%;
        background-color: shared.$accent;

        animation: deplete 10s linear both;

        @keyframes deplete {
            from {
                width: 100%;
            }
            to {
                width: 0%;
            }
        }
    }
}

.question {
    max-width: 35rem;
    margin-bottom: 2rem;
    text-align: center;
    color: shared.$white;
}

.options {
    width: 100%;
    margin-bottom: 2rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    row-gap: 1.5rem;
    column-gap: 2rem;
}

.optionButton {
    height: 3.5rem;

    background-color: shared.$primaryLighter5;
    border: none;
    border: 2px solid transparent;
    border-radius: shared.$borderRadius;

    color: shared.$primary;
    font-size: 1.25rem;

    @media (hover: hover) {
        &:hover:enabled {
            background-color: shared.$primaryLighter3;
        }
    }
    &:active:enabled {
        background-color: shared.$primaryLighter1;
        color: shared.$white;
    }
    &.selected {
        border-color: shared.$accent;
        background-color: shared.$primaryLighter2;
        color: shared.$white;
    }
    &.correct {
        border-color: shared.$green;
        background-color: shared.$white;
    }
    &.incorrect {
        border-color: shared.$red;
        background-color: shared.$white;
    }
}

.bigButton {
    height: 52px;
    width: 62.5%;

    color: shared.$primary;
    border: none;
    background-color: shared.$white;
    border-radius: shared.$borderRadius;
    @include shared.boxShadow(shared.$grayLighter1);

    // &:active {
    // }
    // @media (hover: hover) {
    //     &:hover {
    //     }
    // }

    &__yellow {
        background-color: shared.$accent;
        @include shared.boxShadow(shared.$accentDarker1);

        // &:active {
        // }
        // @media (hover: hover) {
        //     &:hover {
        //     }
        // }
    }

    &__disabled {
        background-color: shared.$grayLighter1;
        @include shared.boxShadow(shared.$gray);
    }
}

.bigButton + .bigButton {
    margin-top: 1rem;
}
