@use "shared";

.container {
    width: 370px;
    padding: 1rem;
    padding-bottom: 1.25rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    background-color: #0c6aae;
    border-radius: 1rem;
}

.intro {
    flex: 1;
    background-color: #fff;
    border-radius: 0.5rem;
    overflow: hidden;
}

.cover {
    height: 175px;
    padding: 0.5rem;
    position: relative;

    $color: rgba(5, 45, 76, 0.6);
    background-image: linear-gradient($color, $color),
        url("/images/background.png");
    background-size: 160%;
    background-position: 75% 50%;
}

.info {
    height: 2rem;
    display: flex;
    gap: 0.625rem;
}

.timer,
.level {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    color: shared.$white;
    font-weight: bold;

    background-color: shared.$primaryLighter2;
    border-radius: shared.$borderRadiusSmaller1;
    @include shared.boxShadow(shared.$primary);
}

.timer {
    padding-left: 0.75rem;
    width: 5.25rem;

    svg {
        height: 0.875rem;
        fill: currentColor;
    }
}

.level {
    flex: 1;
    padding: 4px;
}

.progressBar {
    width: 55%;
    height: 100%;

    background-color: shared.$primaryLighter1;
    border-radius: shared.$borderRadiusSmaller1;

    &__fill {
        width: 20%;
        height: 100%;

        background-color: shared.$accent;
        border-radius: inherit;
    }
}

.avatarContainer {
    position: absolute;
    height: 125px;
    width: 125px;

    left: 50%;
    top: 30%;
    transform: translate(-50%, 15%);
}

.avatar {
    background-image: url("/images/avatar.png");
    background-repeat: no-repeat;
    background-position: 50% 5px;
    border-radius: 50%;
    background-color: #b0e1f3;

    &__foreground {
        margin: 0 auto;

        height: 95%;
        width: 95%;

        background-size: 95%;

        box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.25);
    }
    &__background {
        opacity: 0.2;
        position: absolute;
        top: 0;

        height: 100%;
        width: 100%;

        background-size: 90%;
    }
}

.text {
    padding: 1rem;
    padding-top: 3rem;
    text-align: center;
    color: shared.$primary;

    p {
        padding-bottom: 1.5rem;
        font-size: 1.125rem;
        line-height: 1.4;
    }

    b {
        font-weight: 500;
    }
}

.line {
    border: none;
    border-top: 2px solid #2d89cc;
    width: 33%;
    margin: 0.875rem auto 1rem;
}

.navigation {
    display: flex;
    gap: 0.5rem;
}

.button {
    height: 48px;
    width: 52px;

    background-color: #004475;
    border: none;
    border-radius: shared.$borderRadius;
    @include shared.boxShadow(shared.$primaryDarker1);

    display: grid;
    place-items: center;

    svg {
        max-height: 20px;
        max-width: 25px;
        fill: white;
    }
}

.bigButton {
    flex: 1;
    height: 48px;

    background-color: #ffe100;
    border: none;
    border-radius: shared.$borderRadius;
    @include shared.boxShadow(shared.$accentDarker2);

    color: #004475;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    svg {
        height: 20px;
        fill: currentColor;
    }
}
