@use "shared";

$borderRadius: 0.5rem;

.container {
    width: 370px;
    padding: 1rem;
    padding-bottom: 1.25rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    background-color: shared.$primaryLighter1;
    border-radius: 1rem;

    @media only screen and (max-width: shared.$mobileBreakpoint) {
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: min(100vw, 370px);
        height: 100%;

        transform: translateX(-100%);
        transition: all 0.4s ease;

        &.active {
            transform: translateX(0%);
        }
    }
}

.menuButton {
    display: none;
}

@media only screen and (max-width: shared.$mobileBreakpoint) {
    .menuButton {
        display: flex;
    }
}

.intro {
    flex: 1;
    overflow: scroll;

    background-color: shared.$primaryLighter1;
    border-radius: $borderRadius;

    display: flex;
    flex-direction: column;
}

.cover {
    flex-shrink: 0;
    height: 175px;
    padding: 0.5rem;
    position: relative;

    $color: rgba(5, 45, 76, 0.6);
    background-image: linear-gradient($color, $color),
        url("/images/background.png");
    background-size: 160%;
    background-position: 75% 50%;
    border-radius: $borderRadius $borderRadius 0 0;
}

.info {
    height: 2rem;
    display: flex;
    gap: 0.625rem;
}

.avatarContainer {
    position: absolute;
    height: 125px;
    width: 125px;

    left: 50%;
    top: 30%;
    transform: translate(-50%, 15%);
}

.content {
    flex: 1;
    padding: 1rem;
    padding-top: 3rem;

    text-align: center;
    color: shared.$primary;

    background-color: shared.$white;
    border-radius: 0 0 $borderRadius $borderRadius;
}

.startButton {
    display: none;

    &.active {
        display: inline-block;
        height: 48px;
        padding: 0 1.5rem;
        margin-bottom: 1rem;

        background-color: shared.$accent;
        @include shared.boxShadow(shared.$accentDarker2);

        animation: gelatine 1s infinite;
        @keyframes gelatine {
            0%,
            75% {
                transform: scale(1, 1);
            }
            12.5% {
                transform: scale(0.9, 1.1);
            }
            25% {
                transform: scale(1.1, 0.9);
            }
            50% {
                transform: scale(0.95, 1.05);
            }
        }
    }
}
