@use "shared";

@mixin lifetime($transform) {
    @keyframes lifetime {
        0% {
            opacity: 0;
            transform: $transform scale(0.5);
        }
        5% {
            opacity: 1;
            transform: $transform scale(1.05);
            animation-timing-function: ease-out;
        }
        7%,
        90% {
            opacity: 1;
            transform: $transform scale(1);
        }
        100% {
            opacity: 0;
            transform: $transform scale(0.75);
        }
    }
}

.container {
    display: none;

    &.active {
        position: relative;
        width: max-content;
        max-width: 15rem;
        padding: 0.5rem 0.75rem;

        border-radius: shared.$borderRadius;
        box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.25);

        // triangle to make it look like a speech bubble
        &::after {
            content: "";
            position: absolute;
            top: 0;
            border: 0.5rem solid transparent;
        }

        animation: lifetime var(--speechBubbleDurationMs, 5000ms) ease both;
    }

    // only show speech bubble on mobile in quiz or on desktop in sidebar
    @media (max-width: shared.$mobileBreakpoint) {
        &.quiz.active {
            display: inline-block;
            left: 4rem;
            top: -1.75rem;

            background-color: shared.$white;

            &::after {
                left: 0;
                top: 0.5rem;
                transform: translateX(-95%);
                border-right: 0.5rem solid shared.$white;
            }

            transform-origin: 0 0;
            @include lifetime("");
        }
    }
    @media not all and (max-width: shared.$mobileBreakpoint) {
        &.sidebar.active {
            display: inline-block;
            top: 0.5rem;
            left: 50%;

            background-color: shared.$primaryLighter1;

            text-align: center;
            color: shared.$white;

            &::after {
                border-bottom: 0.5rem solid shared.$primaryLighter1;
                left: 50%;
                transform: translateX(-50%) translateY(-95%);
            }

            transform-origin: 50% 0;
            @include lifetime(translateX(-50%));
        }
    }
}
