@use "shared";

.container {
    display: none;
    position: relative;
    width: max-content;
    max-width: 15rem;
    padding: 0.5rem 0.75rem;

    border-radius: shared.$borderRadius;
    box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.25);

    // triangle to make it look like a speech bubble
    &::after {
        content: "";
        position: absolute;
        border: 0.5rem solid transparent;
    }

    // only show speech bubble on mobile in quiz or on desktop in sidebar
    // mobile
    @media (max-width: shared.$mobileBreakpoint) {
        &.quiz {
            display: inline-block;
            left: 4rem;
            top: -1.75rem;

            background-color: shared.$white;

            &::after {
                left: 0;
                top: 0.5rem;
                transform: translateX(-95%);
                border-right: 0.5rem solid shared.$white;
            }
        }
    }

    // desktop
    @media not all and (max-width: shared.$mobileBreakpoint) {
        &.sidebar {
            display: inline-block;
            top: 0.5rem;
            left: 50%;

            background-color: shared.$primaryLighter1;

            text-align: center;
            color: shared.$white;

            &::after {
                top: 0;
                left: 50%;
                border-bottom: 0.5rem solid shared.$primaryLighter1;
                transform: translateX(-50%) translateY(-95%);
            }
        }
    }
}
